@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all 0.5s ease !important;
    scroll-behavior: smooth;
}

.linear-gradient {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(45deg,#f7b500,#b620e0,#32c5ff);
    -webkit-background-clip: text;
    background-clip: text;
}

.text-decoration-gradient {
    text-decoration: underline;
    text-decoration-color: transparent;
    border-image: linear-gradient(45deg,#f7b500,#b620e0,#32c5ff);
    border-image-slice: 1;
    border-width: 0 0 2px;
}

hr.linear-gradient {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(45deg,#f7b500,#b620e0,#32c5ff);
}

.french-gradient {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(120deg,#000091,#ffffff,#e1000f);
    -webkit-background-clip: text;
    background-clip: text;
}

.fade-in {
    animation: fadeIn 1s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.drawing-effect path {
    stroke-dasharray: 200; 
    stroke-dashoffset: 200;
    animation: draw 5s infinite alternate; /* 'alternate' va jouer l'animation en avant, puis en arrière */
}

@keyframes draw {
    0% {
        stroke-dashoffset: 200;
    }
    100% {
        stroke-dashoffset: 0;
    }
}